.top-menu{
	background-color: black;

}

.sport{
	display: inline;
	font-size: 18px;
}

/*.categories{
	display: inline-block;
}*/

.items{
	/*display: inline-block;*/
	margin-left: 40px;
}

.container{
	background-color: #DCDCDC;
}

.apptitle{
	font-size: 22px;
	text-decoration: bold;
}

.options{
	font-size: 12px;
	display: inline;
	color: 2A292A;
}


.categorygroup{

	display: inline-flex;
}




